svg.hierarchical-edge-bundling-legend {
    vertical-align: top;
}

svg.hierarchical-edge-bundling-chart {
    vertical-align: top;
}

svg.hierarchical-edge-bundling-chart .node {
    font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: #bbb;
}

svg.hierarchical-edge-bundling-chart .node:hover {
    fill: #000;
}

svg.hierarchical-edge-bundling-chart .link {
    stroke: steelblue;
    stroke-opacity: .4;
    fill: none;
    pointer-events: none;
}

svg.hierarchical-edge-bundling-chart .node:hover, svg.hierarchical-edge-bundling-chart .node-source, svg.hierarchical-edge-bundling-chart .node-target {
    font-weight: 700;
}

svg.hierarchical-edge-bundling-chart .node-source {
    fill: #2ca02c;
}

svg.hierarchical-edge-bundling-chart .node-target {
    fill: #d62728;
}

svg.hierarchical-edge-bundling-chart .link-source, svg.hierarchical-edge-bundling-chart .link-target {
    stroke-opacity: 1;
    stroke-width: 2px;
}

svg.hierarchical-edge-bundling-chart .link-source {
    stroke: #d62728;
}

svg.hierarchical-edge-bundling-chart .link-target {
    stroke: #2ca02c;
}

svg.hierarchical-edge-bundling-chart text.arc-label {
    text-transform: uppercase;
    fill: #000;
}

svg.hierarchical-edge-bundling-chart g.legend-canvas text {
    fill: #828282;
}

svg.hierarchical-edge-bundling-chart g.tension-controls text {
    fill: #828282;
}

svg.hierarchical-edge-bundling-chart g.tension-controls line {
    stroke: #aec7e8;
    stroke-width: 2;
}

svg.hierarchical-edge-bundling-chart g.tension-controls circle {
    fill: #fff;
    stroke: #aec7e8;
    stroke-width: 2;
    cursor: move;
}